@font-face {
	font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
	src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}

@font-face {
	font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
	src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}

* {
  margin: 0;
  padding: 0;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;  
  }


.main__container, .main__info, .our__products, .footer__page {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.feedback__textform, .select__form, .radio__variant, .feedback__comment { 
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.trend__title, .last__post-title, .product__title {
  line-height: 24px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.trends__header, .products__header, .feedback__header {
  line-height: 29px;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.categories__name, .aside__posts-header, .aside__post-title, .subscribe__title, .tags__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.last__post-date, .autor, .aside__post-date, .tag__name, .categories__title {
  font-family: 'Open Sans', sans-serif;  
  font-size: 1.2rem;
}

.last__post-content, .product__info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 22px;
}

/* HEADER */

.header {
  max-width: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
}

.main__container { 
  z-index: 2;
  position: relative;
}



.header__menu {
  display: flex;
  padding-top: 28px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 103px;
  padding-left: 3px;
}

.header__top-logo {
  width: 179px;
  height: 41px;
}

.header__nav {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
 }

.header__nav-item {
 display: inline-block;
 margin-right: 35px;
}

.header__nav-item:hover {
  text-decoration: underline;
  color: white;
}

.header__nav-item:last-child {
 margin-right: 0px;
}

.header__nav-item a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif; 
  font-size: 1.3rem; 
  font-weight: 400; 
  text-transform: uppercase;
}

.head__label {
  margin: auto;
  max-width: 700px;  
  font-size: 4.5rem;
  line-height: 75px;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 700;   
  text-transform: uppercase;
}


/* MAIN */ 

.main__info {
  display: flex;
  justify-content: space-between;
}


.trends {
  width: 100%;  
  margin-bottom: 63px;
}

.trends__header {  
  text-align: center;
  margin-bottom: 28px;
}

.trends__header::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  margin: 9px auto 0;
  left: 0;
  right: 0;
  bottom: -12px;
  opacity: 0.4;
}

.trends__container {
  display: flex;  
}

.trends__post {
  display:  flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.trends__post::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.trends__post:nth-child(1) {
  background-image: url(../images/trend1.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trends__post:nth-child(2) {
  background-image: url(../images/trend2.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trends__post:nth-child(3) {
  background-image: url(../images/trend3.jpg); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trends__post:nth-child(4) {
  background-image: url(../images/trend4.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trends__post:last-child {
  margin-right: 0px;
}

.card__info {
  border: solid 3px #b59f5b;
  z-index: 2;
}

.trend__title {                            
  margin-top: 6px;
}

.trend__link {
  text-decoration: none;
  color: #ffffff;
}
/* MAIN */ 

.main__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
 
.post__image {
 margin-right: 30px;
 max-width: 100%;
 background-color : #eff6f1;
}

.categories {
list-style-type: none;
  display: flex;
  flex-wrap: wrap;
 }

.categories__name {
  text-decoration: none;
  color: #b59f5b;
  margin-right: 15px;
}

.categories__name:hover {
  text-decoration: underline;
  color: #b59f5b;
}

.last__post-title {                            
  line-height: 24px;
  margin-top: 7px;
  margin-bottom: 27px;
}

.last__post-link:hover, .trend__link:hover {
color: #b59f5b;
}

.last__post-link {
  text-decoration: none;
  color: #0f0d0e;
}

.post__time-autor {
  margin-bottom: 46px;
}

.last__post-date {
  font-weight: 400;
  color: #888888;
  margin-right: 8px;
}

.autor {
  font-weight: 700;
  color: #000000;
}


/* ASIDE */

.side__list {
  width: 100%;
  max-width: 272px;
  flex-grow: 0;
  flex-shrink: 0;
}

.new__posts-aside {
  margin-bottom: 58px;
}

.aside__posts-header {  
  text-align: center;
  margin-top: -3px;
  margin-bottom: 29px;
}

.aside__posts-header::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  opacity: 0.4;
  margin: 9px auto 0;
}

.aside__posts {
 display: flex;
 align-items: flex-start;
 
}

.aside__posts:nth-child(1n+1) {
  margin-bottom: 20px;
}

.aside__posts:last-child {
  margin-bottom: 62px;
}

.aside__image-post {                 
  width: 70px;
  height: 70px;
  margin-right: 19px;
  background-color: #eff6f1;
}

.aside__latest-article { 
  max-width: 100%;            
}

.aside__post-date {
  font-weight: 400;
  color: #000000;
  opacity: 0.54;
 }

.aside__post-title {                                  
  text-transform: uppercase;
  line-height: 19px;
}

.aside__post-link {
  text-decoration: none;
  color: #0f0d0e;
}

.aside__post-link:hover {
color: #b59f5b;
}

.search__form {
  display: flex;
}

.search__group {
  width: 100%;
}

.search__bar {
  height: 48px;
  width: 100%;
  border-radius: 0px;
  padding-left: 19px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.search__bar:focus {
  border: solid #b59f5b 1px;
}

.search__button {
  width: 48px;
  height: 48px;
  border-radius: 0px;
  background-image: url(../svg/search.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search__button:hover {
  background-color: #323232;
}

.subscribe {
   margin-bottom: 55px;
}

.subscribe__title {  
  text-align: center;
  margin-bottom: 21px;
}

.subscribe__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  opacity: 0.4;
  margin: 9px auto 0;
}

.subscription__field {
  height: 48px;
  width: 100%; 
  border-radius: 0px;
  padding-left: 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.subscription__field:focus {
  border: solid #b59f5b 1px;
}

.subscription__button {
  height: 48px;
  width: 100%;              
  border-radius: 0px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.subscription__button:hover {
  background-color: #323232;
}

.tags__aside {
  margin-bottom: 58px;
}

.tags__title {
  text-align: center;
  margin-bottom: 21px;
}

.tags__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  opacity: 0.4;
  margin: 11px auto 0;
}

.tags {
  list-style-type: none;
}

.tag__name {
  border: solid 3px #eeeeee;
  padding: 4px 13px;
  text-decoration: none;
  color: #0f0d0e;
  font-weight: 700;
  text-transform: uppercase;
   line-height: 36px;
}

  .tag__item {
    display: inline-block;
    margin-right: 3px;
  }

.tag__name:hover {
  border: solid 3px #b59f5b;
}


.categories__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;
}

.categories__title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  opacity: 0.4;
  margin: 9px auto 0;
}

.categories__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.categories__names {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

.categirues__link-names:hover {
 color: #b59f5b;
}

.categirues__link-names {
text-decoration: none;
  color: #0f0d0e;
  line-height: 47px;
  }

.categories__number {
  font-weight: 700;
  font-size: 1.2rem;
  color: #b59f5b;
  vertical-align: super;
}



/* PRODUCTS */

.products__header {  
  text-align: center;
  margin-bottom: 39px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.products__header::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #c79e8a;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -12px;
  opacity: 0.4;
}


.products__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(33.3% - 43px);   
  display: flex;
  flex-direction: column;
}

.product__image-container {   
  margin: 0 auto;
 background-color : #eff6f1;
}

.product__image {
  width: 100%;
}

.product__post {
  border: solid 3px rgba(181, 159, 91, 0.6);
  max-height: 100%;
  padding: 50px 17px 23px 20px;
  margin-top: -31px;
  flex-grow: 1;
}

.product__info {
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 25px;
}

.text__link {
  color: #b59f5b;
  text-decoration: none;
}

.text__link:hover {
  text-decoration: underline;
}

.product__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price-old {
  display: block;
  font-size: 1.4rem;   
  text-decoration: line-through;  
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.product__price-new {
  display: block;
  font-size: 2rem;   
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.buy__button {
  height: 48px;
  width: 140px;
  border-radius: 0px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.buy__button:hover {
  background-color: #323232;
}


/* FOOTER */

.social__links {
  background-color: #f4f7f6;
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__links-list {
  list-style-type: none;
  display: flex;
}

.social__links-items {
  width: 20px;
  height: 20px;
}

.social__links-items:nth-child(1n+1) {
  margin-right: 26px;
}

.social__links-items:last-child {
  margin-right: 0px;
}


.social__link {
  display: flex;
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.link-dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.link-pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyrights__link {
  text-decoration: none;
  color: #999999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/*POPUP */

.popup { 
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
}

.popup__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 2;
}

.popup__form { 
  margin: auto;
  background-color: #fff;
  position: relative;
  z-index: 2;
}


.feedback__header {
  text-align: center;
  margin-bottom: 24px;
}

.feedback__header::after {
  content: "";
  display: block;
  margin: 7px auto 0;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #c79e8a;
}


.select__form:focus {
  border: solid #b59f5b 1px;  
}


.popup__button {
  display: none;
}


.feedback__comment {
  resize: none;
  background-color: #f4f7f6;
  color: rgba(0, 0, 0, .54);
  padding: 18px 20px 25px 20px;
  border: none;
  outline: none;
  width: 100%;
  min-height: 134px;
  margin-top: 5px;
  margin-bottom: 23px;
}

.feedback__comment:focus {
  border: solid #b59f5b 1px;  
}

.feedback__send-button {
  height: 48px;
  width: 100%;               
  border-radius: 0px;
  background-color: #b59f5b;
  border: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-bottom: 25px;
}

.feedback__send-button:hover {
  background-color: #323232;
}


.popup__close {
  position: absolute;
  background-image: url(../svg/form-x.svg); 
  background-repeat: no-repeat;
  cursor: pointer;
}

.radio__variant::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
}

 .popup__button:checked + .radio__variant::before {
  background-image: url(../svg/form-circle.svg); 
  background-repeat: no-repeat;
}

.select__form {
  display: block;
  width: 100%;
  max-width: 328px;
  height: 48px;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px; 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  color: rgba(0, 0, 0, .54);
  padding-left: 18px;
  margin-top: 8px;
  margin-bottom: 32px;
}


/*MEDIA*/

@media (min-width: 1200px) {

.header {
    background-image: url(../images/banner-bg.jpg); 
    margin-bottom: 56px;
    padding-bottom: 127px;
  }

  .menu__button {
    display: none;
  }
  
  .header__logo {
    display: none;
  }
  
  .content__container {
   margin-bottom: 64px;
}

  .trends__post {    
  width: 25%;
  background-color : #eff6f1;
  margin-right: 4px;
  padding: 133px 22px 10px 20px;
}
  .card__info {
  padding: 33px 32px 35px 34px;    
  }
  
  .main__content {
    margin-right: 117px;
  }
  
  .main__info {
    margin-bottom: 56px;
  }
  
  
  .last__news {                  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 59px;
}

.last__news:last-child {
  margin-bottom: 0px;  
}
  .last__post {
  max-width: 367px;     
  }
  
  .last__post-content {
     margin-top: 8px;
  }
  
  
  .radio__variant::before {
  width: 20px;
  height: 18px;
  background-size: 16px 16px;
  }
  
  .feedback__subscribe {
  margin-right: 16px;
  }
 
  .feedback__email-sending {
  margin-top: 7px;
  margin-bottom: 28px;
  }
  
  .popup__close {
  right: -1px;
  top: -27px;
  width: 19px;
  height: 19px;
  }  

  .social__links {
   margin-bottom: 70px;
  }
}


@media (min-width: 641px) and (max-width: 1199px) {
  
  .main__container, .main__info, .our__products, .footer__page {
  max-width: 1199px;
  margin: 0 auto;
  padding-left: 4.5%;
  padding-right: 4.5%;
}

  
  .trend__title, .last__post-title, .product__title, .products__header {
  line-height: 22px;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

  .trends__header, .products__header, .feedback__header {
  line-height: 29px;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
  
   .header {
    background-image: url(../images/banner-bg-tablet.jpg); 
    margin-bottom: 40px;
    padding-bottom: 113px;
  }
  
  .header__logo {
    display: none;
  }
  
  .head__label { 
  font-size: 4rem;
  line-height: 5.5rem;
  padding-left: 40px;
  padding-right: 40px;
  }
  
  .header__menu {
    margin-bottom: 87px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 42px;
  }
  
  .header__menu img {
  width: 158px;

}
  
  .menu__button {
    width: 2.3rem;
    height: 1rem;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
 .menu__button-label, .menu__button::before, .menu__button::after {
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: #ffffff;
   border-radius: 5px;
   left: 20px;
  }
  
  .menu__button::before {
    content: "";
    top: -4px;
  }
  .menu__button::after {
    content: "";
   top: 12px;
  }
  
  .header__nav {
    display: none;
  }


   .content__container {
   margin-bottom: 49px;
}
  
  .trends {
    margin-bottom: 46px;
  }
  
 .trends__container {
  display: flex;  
   flex-wrap: wrap;
}

  .trends__header {
    margin-bottom: 16px;
  }  
  
.trends__post {    
  width: calc(50% - 4px);
  background-color : #eff6f1;
  margin-right: 4px;
  padding: 75px 15px 15px 19px;
  margin-top: 4px;
  min-height: 248px;
  }
  
  .card__info {
  padding: 32px 33px 28px 33px;  
}
  
  .trends__post:nth-of-type(1) {
    margin-top: 0px;
    
  }
  .trends__post:nth-of-type(2) {
  margin-top: 0px;
  }

  .main__info {
    padding-left: 4.5%;
    padding-right: 4.5%;
    margin-bottom: 47px;
  }
  
  .main__content {
    margin-right: 35px;
    display: flex;
    flex-direction: column;
  }
  
  
  .post__image {
    width: 100%;
    margin-bottom: 13px;
  }
  
  .last__post-title {
    margin-bottom: 25px;
  }
  
  .post__time-autor {
  margin-bottom: 33px;
}
  
  .last__post-content {
    margin-bottom: 11px;
  }
  
  .post__border {
    border-bottom: solid 4px #eeeeee;
    margin-bottom: 45px;
  }
  
  
.last__post-border {
    display: none;
  }

 .product {
  width: calc(50% - 56px);
  }
  
  .product:nth-child(odd) {
    margin-left: 20px;
  }
  
  .product:nth-child(even) {
    margin-right: 22px;
  }
  
  
  .product__post {
    padding: 50px 22px 27px 20px;
    flex-grow: 1;
    margin: -38px -22px 27px -22px;
    } 

    .last__product-post {
    margin-bottom: 0px;
  }
  
  
 .feedback__subscribe {
  margin-right: 31px;
  }
  
 .radio__variant::before {
  width: 30px;
  height: 30px;
  background-size: 25px 25px;
  } 
  
  .feedback__email-sending {
  margin-top: 7px;
  margin-bottom: 24px;
  }
  
  .popup__close {
  right: -1px;
  top: -37px;
  width: 28px;
  height: 28px;
  }

  .social__links {
   margin-bottom: 45px;
  }
}  
  
  
  @media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {   
    .trends__container {
      display: flex;  
    }
    .trends__post {   
      width: calc(25% - 4px);
    }
    
    .trends__post:nth-of-type(1) {
    margin-top: 4px;  
  }
    
  .trends__post:nth-of-type(2) {
  margin-top: 4px;
    }    
}


@media (max-width: 640px) {
  
  .trend__title, .trends__header, .last__post-title, .aside__posts-header, .subscribe__title, .tags__title, .categories__title, .products__header, .feedback__header {
  line-height: 20px;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
  
  
  .last__post-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
     margin-bottom: 5px;
  } 
  
  .product__title {
  line-height: 22px;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  }
  
  .header {
    background-image: url(../images/banner-mobile.jpg); 
    margin-bottom: 40px;
    padding-bottom: 127px;
  }
  
  .header__top-logo {
    display: none;
  }
  
  .header__menu {
    justify-content: flex-end;
    padding-top: 24px;
    margin-bottom: 180px;
  }
  
  .menu__button {
    width: 2.3rem;
    height: 1rem;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
 .menu__button-label, .menu__button::before, .menu__button::after {
   position: absolute;
   width: 100%;
   height: 3px;
   background-color: #ffffff;
   border-radius: 5px;
   left: 0;
  }
  
  .menu__button::before {
    content: "";
    top: -4px;
  }
  
  .menu__button::after {
    content: "";
   top: 13px;
  }
  
  .header__nav {
    display: none;
  }
  
  .header__logo {
   width: 100%;
   height: 61px;
   margin-bottom: 31px;
  }
  
  .head__label { 
  font-size: 2.6rem;
  line-height: 3.6rem; 
  margin-bottom: 84px;
  }
  
  .main__info {
    margin-bottom: 42px;
    flex-direction: column;
  }
  
  .trends {
    margin-bottom: 44px;
  }
  
  .trends__header {  
  margin-bottom: 18px;
  }

  .trends__container {
  flex-direction: column;
  }
  
  .trends__post {   
    width: 100%;
    min-height: 231px;
    margin-top: 4px;
    padding: 62px 16px 18px 15px;
    }
  
  .card__info {
    padding: 28px 18px 26px 24px;
  }
  
  
  .main__content {
    margin-bottom: 6px;
  }
  
  .post__image {
    margin-bottom: 8px;    
  }
  
  .last__post-title {
    margin-bottom: 17px;
  }
  
  .post__time-autor {
  margin-bottom: 14px;
  }
  
  
  .post__border {
    border-bottom: solid 4px #eeeeee;
    margin-bottom: 36px;
    margin-top: 19px;
  }
  
  .side__list {
    max-width: 100%;
  }
  .aside__image-post {
    padding-top: 5px;
  }
  
  .new__posts-aside {
  margin-bottom: 43px;
  }
  .subscribe {
  margin-bottom: 41px;
  }
  
  .tags__aside {
  margin-bottom: 38px;
  }
  
  .our__products {
  margin-bottom: 41px;
}

  .products__container {
    flex-direction: column;
  }
  
  .product {
    width: 100%;
    margin-bottom: 22px;
  }
  
  .product:last-child {
    margin-bottom: 0px;
  }
  
  .product__post {
  padding: 47px 16px 26px 18px;
  }  
  
  .buy__button {
    margin-right: 6px;
  }
  
  .popup__form {
    width: 100%;     
    max-width: 330px;
    padding: 17px 24px 11px 25px;
  }
  
  .feedback__header {
    margin-top: 9px;
    margin-bottom: 28px;
  }

  .select__form {
    margin-bottom: 28px;
  }

  .feedback__subscribe {
  margin-right: 34px;
  }
  
 .radio__variant::before {
  width: 30px;
  height: 30px;
  background-size: 25px 25px;
  } 
  
  .feedback__email-sending {
  margin-top: 9px;
  margin-bottom: 23px;
  }
  
  .popup__close {
  right: 0px;
  top: -34px;
  width: 28px;
  height: 28px;
  }

  .social__links {
   margin-bottom: 46px;
  } 
}

 @media (max-width: 640px) and (orientation: landscape) {   
 .trends__container {
  display: flex;  
   flex-wrap: wrap;
   flex-direction: row;
}
   
   .trends__post {    
  width: calc(50% - 4px);
  background-color : #eff6f1;
  margin-right: 4px;
  padding: 75px 15px 13px 19px;
  margin-top: 4px;
  min-height: 248px;
  }
}


@media (min-width: 641px) and (max-width: 1199px), (min-width: 1200px) {
  
  .popup__form {
  width: 100%;         
  max-width: 390px;
  padding: 44px 29px 30px 30px;
  } 
} 


